<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-header">
                    @Html.ActionLink("Apprenticeship Scorecard", "List", "Apprenticeship", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/mustache")
    @Scripts.Render("~/bundles/d3")
    @RenderSection("scripts", required: false)
</body>
</html>
